@import "reset.css";

.container{
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: "header" "nav" "main" "footer";
    font-family: 'Comfortaa', cursive;
}

header{
    grid-area: header;
    margin-top: 2rem;
}

header > img{
    display: block;
    width: 50rem;
    margin: 0 auto;
}

nav{
    grid-area: nav;
    background-color: #000;
    margin-top: 2rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


nav li {
    list-style: none;
    display: inline-block;
    margin-right: 5rem;
}

li a{
    text-decoration: none;
    color: #FFF;
    font-size: 2rem;
}

li a:hover{
    color:#B68D40;
}


main{
    grid-area: main;
    margin-bottom: 13.2rem;
}

section{
    display: flex;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    gap: 2rem;
    justify-content: center;
}

article{
    flex:1;
}

article > img{
    display: block;
    width: 50rem;
    margin: 0 auto;
}


.card{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 0.2rem;
    max-width: 20rem;
    
}

.card-img>img{
    width: 15rem;
    display: block;
    margin: 0 auto;
}

.card-content{
    text-align: center;
}

.card-content>h2{
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.card-content>p{
    color: #808080;
    margin-bottom: 1rem;
}

.card-content>p+p{
    color: #000;
    font-weight: bold;
    font-size: 2rem;
}

span{
    text-decoration: line-through;
    font-size: 1.5rem;
}
.card-img{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#img_2{
    margin-top: 3rem;
    margin-bottom: 4rem;
}

button{
    width: 100%;
    border: none;
    background-color: #000;
    color: #FFF;
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem;
    margin-top: 1rem;
}

button:hover{
    color: #B68D40;
}


footer{
    grid-area: footer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

footer img{
    width: 5rem;
    margin-right: 1.5rem;
}

@media only screen and (max-width: 900px) {
    section{
        flex-direction: column;
        align-items: center;
    }
    header img, article img{
        width: 35rem;
    }
    nav li{
        margin-right: 1.5rem;
    }

    footer{
        position: relative;
    }
  }

  @media only screen and (max-width: 420px){
   nav ul{
    text-align: center;
   }

   nav {
    height: 100%;
   }
   nav li{
    display: block;
    margin-bottom: 2rem;

   }

   header img, article img{
    width: 25rem;
   }
   article img{
    margin-top: 2rem;
   }
}
